<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{Ticket id}" />
        <th th:text="#{Ticket place}" />
        <th th:text="#{Ticket coast}" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket, iStat : ${ticketPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${ticket.id}" />
        <td th:text="${ticket.placeNumber}" />
        <td th:text="${ticket.coast}" />
    </tr>
    </tbody>
</table>
<div th:if="${ticketPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${ticketPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==ticketPage.number + 1} ? active"></a>
</div>

</body>
</html>

