<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{Ticket id}" />
        <th th:text="#{Ticket place}" />
        <th th:text="#{Ticket coast}" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${ticketList}">
        <td th:text="${ticket.id}" />
        <td th:text="${ticket.placeNumber}" />
        <td th:text="${ticket.coast}" />
    </tr>
    </tbody>
</table>

</body>
</html>

